@import 'custom';

.main {
    .logo-img {
        height: 22px;
        object-fit: contain;
    }
    .fw-600 {
        font-weight: 600;
    }
    .navbar-top {
        @include box-shadow(0, 1px, 2px, rgba(0, 0, 0, 0.2));
        padding-left: 0;
        .navbar-toggler {
            border: none;
            outline: none;
        }
    }

    .navbar-sidebar {
        width: 40px;
        background: rgb(35, 35, 35);
        height: 100vh;
        transition: all .3s ease-in-out;
        visibility: visible;
        .nav-link {
            color: #fff;
            padding: 12px;
        }
    }
    .navbar-sidebar.hide {
        height: 0;
        visibility: hidden;
    }
    .navbar-top-right {
        display: flex;
        align-items: center;

        .main-search {
            width: 375px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            border-bottom: 1px solid #e3e3e3;
            box-shadow: none;
            font-size: 14px;
            padding-right: 10%;
            color: #e3e3e3;

            &::placeholder {
                font-size: 14px;
                color: #e3e3e3;
                font-weight: 600;
            }
        }

        .form-control:focus {
            z-index: 2;
        }

        .main-search-btn {
            z-index: 2;
            bottom: 0px;
            right: 20px;
            transition: all .3s ease-in-out;
            .fa-search {
                color: #bababa;
            }
            &:focus {
                box-shadow: none;
            }
        }

        .main-input-group {
            margin-right: 35px;
        }
        .leave-btn {
            font-size: 14px;
            margin-left: 24px;
            cursor: pointer;
            color: #e14231;
            i {
                padding-left: 10px;
            }
        }
    }

}